<h1>All our flats (<%= Flat.count %>)</h1>


<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card">
          <img src="https://kitt.lewagon.com/placeholder/cities/shanghai" alt="">
          <div class="card-description">
            <h2> <%= flat.name %></h2>
            <p> <%= flat.address %> </p>
          </div>
          <div class="icons">
            <i class="fas fa-users"></i>
            <i class="far fa-money-bill-alt"></i>
          </div>

          <div class="card-category">
            <span><%= link_to 'More Info', flat_path(flat) %></span>
            <span><%= link_to 'Edit', flat_path(flat) %></span>
            <span><%= link_to 'Remove', flat_path(flat) %></span>
          </div>


        </div>
      </div>
    <% end %>
  </div>
</div>

